body {
    background-color: #0d1117; 
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

/* ------------------ EDITOR STYLES ------------------ */
#editor-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    border: 1px solid #30363d;
    border-radius: 8px;
    overflow: hidden;
}

#editor {
    flex-grow: 1;
    min-height: 0;
    background-color: #1e1e1e;
}

#run-button {
    padding: 10px;
    background-color: #2a3d3c; 
    color: #39ff14; /* Neon Green */
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #30363d;
}

#run-button:hover {
    background-color: #344a49;
}


/* ------------------ TERMINAL STYLES ------------------ */
#terminal-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #30363d;
    box-shadow: 0 0 20px rgba(57, 255, 20, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #000;
}

#terminal {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
}
