body {
    background-color: #0d1117; /* GitHub Dark Mode background */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 90%;
    height: 90%;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
    border: 1px solid #30363d;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000;
}

#terminal {
    width: 100%;
    height: 100%;
}
